.freelance-function {
    background-color: #CBCBCB;
    color: white!important;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 3px;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 300;
  }
  
  .highlight-text {
    .highlight {
      color: black;
    }
  }