@import "../../../theme-jean-michel/theme-jean-michel";


.searchForm {
  width: calc(100% - 40px);
  margin: 20px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 100%;
    border: 2px solid rgba($dark, 0.15);
    border-radius: $large-border-radius;
    padding: 1rem;

    .queryCol {
      display: flex;

      .actions {
        height: 62px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;

        .loader {
          height: calc(100% + 30px);
          top: -15px;
          background-color: $body-bg;
        }

        button, a {
          width: 100%;
        }
      }
    }

    .advancedCol {
      margin-top: 0 !important;

      &.isOpen {
        margin-top: 1rem !important;
      }
    }

    &.searchOnBookmark {
      border: 2px solid rgba($red, 0.3);
    }
  }

  .showFilterBtn {
    position: relative;
    top: -2px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
    padding: 0;
    background: url("../../../res/images/see-more-tab.svg") center no-repeat;
    background-size: 120% 100%;

    svg {
      margin-right: 8px;
      width: 15px;
      height: 15px;
    }
  }
}


@media (max-width: 800px) {
  .searchForm {
    width: calc(100% - 8px);
    margin: 4px 4px 60px;

    .container {
      .queryCol {
        flex-wrap: wrap;
        margin-right: 0 !important;

        .actions {
          width: 100%;
          flex-direction: row;
          margin: 1rem 0 0 !important;
          height: auto;

          :global(.btn) {
            margin-right: 1rem;
          }

          :global(.btn:last-child) {
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}


@media (max-width: 450px) {
  .searchForm {
    .container {
      .queryCol {
        .actions {
          flex-direction: column;

          :global(.btn) {
            margin: 0 !important;
          }

          :global(.btn:last-child) {
            margin: 1rem 0 0 !important;
          }
        }
      }
    }
  }
}
