@import "src/theme-jean-michel/theme-jean-michel-colors";

.freelance-showcase-card {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 170px;
  border: 1px solid $gray;
  box-shadow: 0 0 15px rgba($dark, 0.15);
  border-bottom: 6px solid $cyan;
  border-radius: 5px;
  transition: border 200ms;
  cursor: pointer;

  &:hover{
    border-bottom: 6px solid $orange;

    .freelance-showcase-info {
      .freelance-title {
        color: $orange !important;
      }
    }
  }

  .freelance-profile-picture {
    height: 170px;
    max-height: 170px !important;
    background-color: $gray;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .freelance-showcase-info{
    padding: 10px 10px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .freelance-title {
      font-size: 12px;
      color: $blue-ocean;
      line-height: 14px;
      margin: 5px 0;
      font-weight: 700;
      height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: color 200ms;
    }

    .freelance-subtitle {
      font-size: 12px;
      color: $dark;
      font-weight: 300;
      line-height: 18px;
      margin: 0;
    }

    .container-info{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      padding-top: 10px;
      border-top: 1px solid $gray;
    }
  }
}
