.highlight-text {
    margin-bottom: 0;
  
    .highlight-yellow {
      background-color: yellow!important;
    }
  
    .highlight-purple {
      background-color: mediumpurple!important;
    }
  
    .highlight-pink {
      background-color: #fdbcfe;
    }
  
    .highlight-blue {
      background-color: #add8e6;
    }
  
    .highlight-green {
      background-color: #48fd29;
    }
  
    .highlight-orange {
      background-color: #ffa500;
    }
  }