@import "../../../theme-jean-michel/theme-jean-michel";


.bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  color: $white;
  background-color: $red;

  svg {
    margin: 0;
    width: 15px;
    height: 15px;
  }
}